@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    /* background-color: rgb(3, 3, 53); */
    color: white;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    /* background-image: url('bg.gif'); */
    /* background-size: cover; */
}

.background {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(235, 101, 28), rgb(3, 3, 53)  50%);
    background-size: 200% 200%;
    animation: gradientAnimation 3s infinite alternate;
    z-index: -1;
}

.distortion {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, rgb(3, 3, 53), transparent 70%);
    mix-blend-mode: overlay;
    opacity: 0.5;
    animation: distortionAnimation 4s infinite alternate;
    z-index: -1;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

@keyframes distortionAnimation {
    0% {
        transform: scale(1) rotate(1deg);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.1) rotate(5deg);
        opacity: 0.8;
    }

    100% {
        transform: scale(1.2) rotate(-5deg);
        opacity: 0.4;
    }
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 85);
}


header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    list-style: none;
    margin: 0 23px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

header nav ul li a:hover {
    color: rgb(1, 188, 188);
    font-size: 1.04rem;
    text-decoration: underline
}

.left {
    font-size: 1.5rem;
    /* position: absolute; */
    display: flex;
}

.left img {
    height: 50px;
}

.text {
    padding: 8px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.firstSection>div {
    width: 30%;
}

.leftSection {
    /* background-color: rgb(242, 127, 55); */
    font-size: 2rem;
    margin: 70px 0;
}

#element {
    color: rgb(165, 97, 229);
}

.rightSection img{
    margin: 50px 0;
}

/* main section div img{
    height: 100%;
    border-radius: 50%;
} */

.secondSection {
    max-width: 80vw;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

.buttons ul {
    list-style: none;
    display: flex;
}

.git {
    padding: 9px 10px;
}

.buttons ul .resume {
    background: #01015a;

    padding: 6px;
    cursor: pointer;
    box-shadow: 0px 8px 15px #49117d;
    border: 2px solid #a561e5;
    border-radius: 4px;
}

.buttons ul .resume a{
    text-decoration: none;
    color: white;
    
}

.cv button a:hover{
    color: rgb(1, 188, 188);
    font-size: 1.04rem;
}

.cv button a:after{
    color: greenyellow;
}
.cv button a :active{
    color: orange;
}

.cv:hover button{
    animation: shake 0.5s ease-in-out;
}

.github img {
    height: 45px;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.github:hover img {
    /* transform: scale(1.2); */
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

main hr {
    border: 0;
    background-color: rgb(59, 59, 152);
    height: 2px;
    margin: 0px 40px;
}

.secondSection h1 {
    font-size: 1.5rem;
}

.text-gray {
    color: gray;
    font-size: xx-small;
}

footer .right {
    height: 50px;
}

.social {
    list-style: none;
    margin: 0;
    display: flex;
}

.image {
    height: 45px;
}

footer {
    display: flex;
}

footer .center {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 37vw;
    color: gray;
    font-size: 12px;
    padding: 12px 0;
}

footer .right {
    position: absolute;
    right: 0;
    margin: 0px 55px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.right ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: end;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.2);
}